@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

html,
body,
#root {
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.form-background {
  background-color: #a3c564;
}

.paper-form {
  width: 450px;
  margin: auto;
  padding: 16px;
}

.form-card {
  max-width: 450px;
}

.input-form {
  margin: 0 5px;
}

.form-connection {
  display: flex;
  flex-direction: column;
}

.error-message {
  color: red;
  padding: 0px 5px;
  text-align: center;
}

.form-button {
  margin-bottom: 0px;
}

.header {
  background-color: #a3c564;
}

.actionbar {
  display: flex;
  align-items: center;
}

.userinfo {
  display: flex;
  align-items: center;
}

.header-button {
  margin: 10px 5px;
}

.notes-display {
  display: flex;
  flex-wrap: wrap;
}

.text-multi-wrap {
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
}

/* .note {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  height: 180px;
  width: 180px;
  border: 1px solid black;
} */

.note {
  height: 270px;
}
.title {
  padding: 10px;
  text-align: center;
  width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.note-paper {
  margin: 16px;
  height: 225px;
  width: 225px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.note-title {
  padding: 5px;
  width: 100%;
  box-sizing: border-box;
  font-weight: bold;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.note-content {
  white-space: pre-line;
}

.backdrop {
  z-index: 1 !important;
}

.modal-container {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 400px;
  width: 400px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.modal-action-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.hidden-input {
  margin: 0;
  border: 0;
}

.hidden-textarea {
  border: 0;
  resize: none;
}

.custom-border {
  border: 1px solid rgba(163, 197, 100, 0.125);
}

.user-dropdown {
  cursor: pointer;
}

.floating-add-button {
  position: fixed;
  right: 15px;
  bottom: 15px;
  color: #a3c564;
}
